@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

.gardenboard {
  font-family: 'Shadows Into Light Two', cursive !important;
  margin-right: 1em !important;
}

body {
  background-color: floralwhite;
}

.App {
  text-align: center;
}

#tiles {
    padding-top: 60px;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  /*margin-left: -30px; !* gutter size offset *!*/
    margin-right: 30px;
    margin-top: 30px;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

.tile img {
  width: 100%;
}
